<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EmployeeMapper">
    <resultMap id="employeeMap" type="Employee">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="mail" column="mail" />
        <result property="departmentId" column="department_id" />
    </resultMap>
    <select id="all" resultMap="employeeMap">
        SELECT
            id
            , name
            , mail
            , department_id
        FROM
            employee
    </select>
    <insert id="insert" parameterType="employee">
        insert into
        employee (
            name
            , mail
            , department_id
        ) values (
            #{name}
            , #{mail}
            , #{departmentId}
        )
    </insert>
    <insert id="insertList" parameterType="java.util.List">
        insert into
        employee (
            name
            , mail
            , department_id
            , entry_datetime
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.name}
                , #{item.mail}
                , #{item.departmentId}
                , #{item.entryDatetime}
            )
        </foreach>
    </insert>
</mapper>